#ignore Flex/Bison/C build products
lex.yy.c
*.exe
*.o
*.obj
*.tab.c
*.tab.h

#ignore output file(s)
result.txt
cResult.txt

#VSCode project files 
.vscode/
*.log

#OS/Editors
.DS_Store
Thumbs.db

desktop.ini

#Other
onWorkExo1
onWorkExo3
onWorkExo3(1)